body {
  font-family: 'Courier New', monospace;
  background-color: #fd79a8; /* pink terang */
  color: #fff;
  padding: 20px;
}

ul {
  list-style-type: circle;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 15px;
  border-radius: 10px;
}
